input{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    font-size: 18px;
    padding: 7px;
    color: #ffffff;
    margin-top: 15px;
    outline: none;

}
.assest-container{
    /* height: 550px; */
    /* border: 2px solid red; */
}
.double-check{
    margin:  10px;
    margin-top: 25px;
    /* border: 2px solid gold; */
    text-align: center;
}
.paste{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 6px;
    width: 70px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.paste-container{
    display: flex;
    justify-content: end;
    /* margin-top: 0; */
}